@import 'shared/styles/colors.scss';
@import 'shared/styles/sizes.scss';

.gameContainer {
  position: relative;
  overflow: hidden;
  background-color: $color-start-page-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $page-height;
  padding-bottom: 30px;
}

.greySandImage {
  position: absolute;
  bottom: -4px;
  left: 0;
}

.yellowSandImage {
  position: absolute;
  bottom: 20%;
  right: 20%;
}

.orangeSandImage {
  position: absolute;
  top: 20%;
  right: 10px;
}