@font-face {
  font-family: Koulen;
  src: url('./Koulen-Regular.ttf');
}

@font-face {
  font-family: Kumbh Sans Regular;
  src: url('./KumbhSans-Regular.ttf');
}

@font-face {
  font-family: Kulim Park ExtraLight;
  src: url('./KulimPark-ExtraLight.ttf');
}

@font-face {
  font-family: IBM Plex Mono Light;
  src: url('./IBMPlexMono-Light.ttf');
}
@font-face {
  font-family: IBM Plex Mono Medium;
  src: url('./IBMPlexMono-Medium.ttf');
}
