@import 'shared/styles/colors.scss';
@import 'shared/styles/sizes.scss';

.navbarWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 63px;
  height: $header-height;
  background-color: $color-background-header;
  z-index: 5;
}

.navbarList {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding: 0;
  gap: 65px;
}

.tab,
.exit {
  text-decoration: none;
  font-size: 24px;
  color: #272b2a;
  transition: border-bottom ease 0.1s;
}

.tab {
  border-bottom: 0px solid #272b2a;
}

.tabActive {
  border-bottom: 2px solid #272b2a;
}

.tab:hover {
  border-bottom: 2px solid #272b2a;
  transition: border-bottom ease 0.1s;
}

.exit {
  color: #c03b2a;
  border-bottom: 0px solid #c03b2a;
}

.exit:hover {
  border-bottom: 2px solid #c03b2a;
  transition: border-bottom ease 0.1s;
}
