$color-background-header: #d1c8b7;
$color-start-page-button: #d4be97;
$color-start-page-background: #272b2a;
$color-orange-primary: #d66b1d;
$color-orange-stroke: #956d6b;
$color-text-primary: #fff;
$color-orange-link: #B15B0C;
