:root[data-theme|='light'] {
  --color-background-header: #d1c8b7;
  --color-background: #fff;
  --color-start-page-button: #d4be97;
  --color-start-page-background: #a59984;
  --color-navbar-text: #272b2a;
  --color-landing-page: #1e1e1e;
  --color-orange-primary: #d66b1d;
  --color-orange-stroke: #956d6b;
  --color-text-primary: #000;
  --color-orange-link: #b15b0c;
  --color-black: #fff;
  --color-gray-message: #374744;
  --color-red-button: #cd272b;
  --color-link-primary: #39c6de;
  --color-orange-background: #f9a64a;
  --color-grey-btn-background: #d9d9d9;
  --color-orange-dust: #a24f1b;
  --color-forum-background: linear-gradient(to bottom, #92aba6, #c2d6d2);
}

:root[data-theme|='dark'] {
  --color-background-header: #2e3748;
  --color-background: #2e3748;
  --color-start-page-button: #d4be97;
  --color-start-page-background: #272b2a;
  --color-navbar-text: #d8d4d5;
  --color-landing-page: #1e1e1e;
  --color-orange-primary: #d66b1d;
  --color-orange-stroke: #956d6b;
  --color-text-primary: #fff;
  --color-orange-link: #b15b0c;
  --color-black: #000;
  --color-gray-message: #374744;
  --color-red-button: #cd272b;
  --color-link-primary: #39c6de;
  --color-orange-background: #6c3a03;
  --color-grey-btn-background: #d9d9d9;
  --color-orange-dust: #a24f1b;
  --color-forum-background: linear-gradient(to bottom, #374744, #86ada6);
}
