@import 'shared/styles/sizes.scss';

.landingPage {
  height: 100%;
  background: var(--color-background-header);

  &ScrollerUp,
  &ScrollerDown {
    position: fixed;
    opacity: 0;
    left: 0;
    bottom: 103px;
    height: fit-content;
    z-index: 100;
    width: 100%;
    cursor: pointer;
    transition: background-color, opacity ease-out 0.2s;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
      transition: background-color, opacity ease-in 0.2s;
    }
  }

  &ScrollerUp {
    top: 0;
  }

  &Section {
    height: 100vh;
    padding: 50px 150px;

    &Title,
    &Link {
      font-size: 172px;
      color: var(--color-text-primary);
      font-family: Koulen, serif;
      font-weight: 400;
      margin: 0;
      line-height: 122px;
    }

    &Text,
    &LinkSmall {
      margin: 0;
      font-family: Kulim Park ExtraLight;
      font-size: 29px;
      color: var(--color-text-primary);
      max-width: 715px;
    }

    &Link {
      color: var(--color-landing-page);
      border-bottom: 0px solid var(--color-landing-page);
      transition: border-bottom ease-out 0.1s;

      &:hover {
        color: #000 !important;
        border-bottom: 10px solid #000;
      }

      &Small {
        color: var(--color-link-primary);
      }
    }

    &1 {
      background: url('/assets/background-without-text.svg') no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      padding-bottom: 150px;
    }

    &2 {
      background: var(--color-landing-page) url('/assets/about-game.svg') no-repeat;
      background-position: 50% 85%;
      background-attachment: fixed;
      background-size: contain;
    }

    &3 {
      background: var(--color-landing-page) url('/assets/leaderboard.svg') no-repeat;
      background-position: 50% 86%;
      background-attachment: fixed;
      background-size: contain;

      & > p {
        text-align: end;
      }
    }

    &4 {
      background: var(--color-landing-page) url('/assets/forum.svg') no-repeat;
      background-position: 50% 86%;
      background-attachment: fixed;
      background-size: contain;
    }

    &5 {
      padding-bottom: 133px;
      background: var(--color-background-header)
        url('/assets/background-without-text-upside-down.svg') no-repeat;
      background-size: cover;

      & > p {
        color: var(--color-landing-page);
      }
    }
  }
}
