@import 'shared/styles/colors.scss';

.canvas {
  border: 1px solid $color-start-page-background;
  background-image: url("sand.svg");
  z-index: 100;
  cursor: none;
}

.gameInfoContainer {
  margin: 20px 80px;
}