.root {
  min-height: 100%;
  padding: 100px 100px;
  background: var(--color-start-page-background)
    url('/assets/errors-background.svg') no-repeat;
  background-size: cover;
}

.title {
  color: var(--color-text-primary);
  font-family: Koulen, serif;
  font-size: 172px;
  line-height: 150px;
}

.text {
  color: var(--color-text-primary);
  font-family: 'Kumbh Sans Regular', sans-serif;
  font-size: 34px;

  margin-bottom: 76px;
}

.link {
  color: var(--color-text-primary);
  font-family: 'Kumbh Sans Regular', sans-serif;
  font-size: 24px;
  margin-left: 90px;
}
