.messageContainer {
  width: 100%;

  .message {
    max-width: 595px;
    width: 100%;
    padding: 27px 37px;
    border: 1px solid var(--color-gray-message);
    border-radius: 30px;
    box-shadow: -10px 10px 0 0 rgba(var(--color-black), 0.25);
    background: var(--color-background);
    margin: 0 10px 20px;

    .author {
      margin: 0;
      font-weight: 700;
      font-size: 24px;
      color: var(--color-text-primary);
    }

    .text {
      font-weight: 200;
      font-size: 24px;
      color: var(--color-text-primary);
    }

    .sendTime {
      color: var(--color-red-button);
    }
  }
}

.actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: none;
  font-size: 20px;
  color: $color-orange-primary;
  background-color: transparent;
}
